html {
  scroll-behavior: smooth;
  height: 1000px;
}

body {
  font-family: "Libertinus Math", system-ui;
  background: linear-gradient(179.7deg, rgb(224, 231, 236) 2.9%, rgb(161, 173, 184) 97.1%);

}

header {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 60px auto 20px auto;
  padding: 20px 14px 24px 14px;
  width: 50%;
  min-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ebe8e8;
  border-radius: 10px;
}

.add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.todo-input {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Libertinus Math", system-ui;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-input:focus {
  outline-color: rgb(23, 188, 194);
  outline-width: 2px;
  outline-style: solid;
}

.add-button {
  padding: 10px 12px;
  border: none;
  border-radius: 10px;
  background-color: rgb(23, 188, 194);
  font-size: 14px;
  font-family: "Libertinus Math", system-ui;
  color: #fff;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
  transition: all 0.3s ease-in;
  background-color: rgb(36, 208, 214);
  cursor: pointer;
}

/*------------*/

.todo-card {
  width: 50%;
  min-width: 300px;
  margin: 18px auto;
  padding: 14px;
  background-color: #ebe8e8;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mainList {
  padding: 0;
  margin: 0;
}

.actionsContainer {
  display: flex;
  gap: 6px;
}

.actionsContainer button {
  border: none;
  background: none;
}

.actionsContainer i {
  cursor: pointer;
  font-size: 14px;
}

.editButton {
  color: rgb(23, 188, 194);
}

.deleteButton {
  color: rgb(240, 108, 108);
}

.todoItem {
  display: flex;
  justify-content: space-between;
  font-family: "Libertinus Math", system-ui;
  align-items: center;
}

/* modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  text-align: center;
}

.modal button {
  background-color: rgb(23, 188, 194);
  color: #fff;
  border: none;
  font-size: 12px;
  font-family: "Libertinus Math", system-ui;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* footer */

.footer-text {
  font-size: 12px;
  text-align: center;
  color: #666;
}

.footer a {
  color: rgb(26, 177, 182);
  text-decoration: none;
}
